.btn-blue{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-blue:active,
.btn-blue.active {
  background-color: #003399 \9;
}

.login{
	display:none;
}

#bannerText{
	position:relative;
	top:20px;
	left:20px;
	width:80%;
	height:40%;
}
#bannerText p{
	font-size:30px;
}

#signupForm{
	position:relative;
	top:10px;
}
.sidePane{
	position:relative;
	top:50px;
}

.mainContent{
	position:relative;
	top:50px;
}

.subMagazine{
	background-color:white;
	display:none;
}

.subMagazine p{
	position:relative;
	left:15px;
	font-size:13px;
	
}
#footer{
	position:relative;
	top:50px;
}

.nav-pills li a{
	padding-top:12px;
	padding-bottom:12px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
}

.mainMagazine{
	position:relative;
	top:30px;
}

.drag{
	background-color:#EFEFEF;
	height:200px;
}

.dropTarget{
	border:10px;
	background-color:#DFDFDF;
	height:200px;
}

.addSection{
	position:relative;
	top:-17px;
	right:10px;
}

#mainBox{
	position:relative;
	top:50px;
	height:350px;
	margin-bottom:50px;
}

.scrollable{
	overflow:"auto";
	border-radius:10px;
	background-color:#EFEFEF;
	height:250px;
	margin-top:15px;
	margin-bottom:10px;
	z-index:10;
}



.mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color:#4AB0CE;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail{
	visibility:hidden;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{
    background-color:#2F96B4;
}

.text{
	position:relative;
	top:10px;
	left:60px;
	z-index:1000;
}
.draggable:hover{
	cursor:move;
}

.dropdown-caret{
	position:absolute;
	top:-7px;
	left:12px;
	width:12px;
	height:7px;
	float:left;
	overflow:hidden
}

.dropdown-caret.right{
	left:auto;
	right:10px
}
.dropdown-caret .caret-outer,.dropdown-caret .caret-inner{
	position:absolute;top:0;left:0;display:inline-block;margin-left:-1px
}
.dropdown-caret .caret-outer{
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #aaa;
	border-bottom-color:rgba(0,0,0,.2)
}
.dropdown-caret .caret-inner{
	top:1px;
	left:1px;
	display:inline-block;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid #fff
}
.dropdown.open .dropdown-menu{
	display:block
}
.session .dropdown-menu .dropdown-caret{
	left:auto;right:27px;
}
.onebox .follow-combo .dropdown-caret,.stream-item .account .btn-group .dropdown-caret,.stream-item .tweet-user-actions .user-dropdown .dropdown-caret,.permalink-tweet .btn-group .dropdown-caret{
	left:auto;
	right:13px;
	position: absolute;
}	
	